table, td {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-collapse: collapse;
}

th {
    border-width: 1px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    background-color: black;
    color: white;
}

tr:nth-child(odd) {
    background-color: rgb(241, 241, 241);
}

table {
    width: 100%;
}

th, td {
    width: 30%;
}