@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
    font-size: 16px;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 80px;
    box-shadow: 1px 1px 9px -5px black;
    background-color: white;
}

@media all and (max-width: 1220px) {
    .nav {
        flex-direction: column;
        padding: 15px 20px;
    }
}

.nav-menu {
    display: flex;
    align-items: center;
}

@media all and (max-width: 965px) {
    .nav-menu {
        flex-direction: column;
    }
    .nav-menu li {
        margin: 7px auto;
    }
}

.nav-menu li {
    list-style: none;
}

.nav-menu li a {
    text-decoration: none;
    font-weight: bold;
    color: #54546F;
    margin: 0 7px;
}

.btn {
    background-color: #9B5DC6;
    color: white;
    border-radius: 16px;
    padding: 8px 12px;
    border: none;
    font-size: 11px;
    box-shadow: 1px 1px 9px -5px black;
}

.header-certificates {
    padding: 30px 80px;
    display: flex;
    align-items: center;
    /* hidden scrollbar */
    overflow: hidden;
}

.header-certificates-content {
    margin-right: 60px;
}

.header-certificates-content-title {
    color: #54546F;
}

.header-certificates-content-subtitle {
    color: gray;
    font-size: 12px;
    font-style: italic;
    margin: 5px 0;
}

.header-certificates-img {
    position: relative;
}

.header-certificates-img::before {
    content: '';
    background-color: #54546F;
    width: 550px;
    height: 550px;
    position: absolute;
    border-radius: 50%;
    z-index: -2;
    right: -122px;
    top: -335px;
}

.header-certificates-img::after {
    background: url("images/award.svg");
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-position: top;
    background-size: contain;
    top: -106px;
    left: 174px;
    background-repeat: no-repeat;
}

@media all and (max-width: 1200px) {
    .header-certificates-img::after, .header-certificates-img::before {
        display: none;
    }
    .header-certificates {
        flex-direction: column;
    }
    .header-certificates-img {
        margin-top: 50px;
    }
    .header-certificates-content {
        margin-right: 0;
    }
    .header-certificates {
        padding: 40px 20px;
    }
}

.cpe {
    background-color: #14152D;
    color: white;
    padding: 40px 80px;
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 60px;
}

.cpe-content {
    margin-right: 70px;
}

.cpe-img {
    position: relative;
    top: 87px;
}

@media all and (max-width: 1000px) {
    .cpe {
        flex-direction: column;
        padding: 40px 20px;
    }
    .cpe-content {
        margin-right: 0;
    }
    .cpe-img {
        top: 20px;
    }
}

.career-assistance {
    margin-top: 100px;
    display: flex;
    padding: 30px 80px;
}

.career-assistance-img {
    margin-right: 50px;
}

.career-assistance-img img {
    border-radius: 12px;
}

.career-assistance-content-title {
    color: #54536f;
    margin-top: 0;
    margin-bottom: 25px;
}

.career-assistance-content-text {
    line-height: 20px;
}

.light-btn {
    background: white;
    color: #A858D0;
    border: 1px solid #A858D0;
    border-radius: 20px;
    text-transform: uppercase;
    padding: 12px 18px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
}

@media all and (max-width: 1000px) {
    .career-assistance {
        flex-direction: column;
        margin-top: 30px;
        padding: 30px 20px;
    }
    .career-assistance-img {
        order: 2;
        margin-top: 40px;
    }
    .career-assistance-content {
        order: 1;
    }
}

@media all and (max-width: 400px) {
    .career-assistance-img img{
        width: 100%;
    }
}

footer {
    background-color: #2c2c3b;
    color: white;
    padding: 40px 80px;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.footer-menu-title {
    font-weight: bold;
    color: #A655CC;
    margin: 0 0 20px 0;
}

.footer-menu-nav {
    padding-left: 0;
}

.footer-menu-nav-item {
    list-style: none;
    margin: 9px 0;
}

.footer-menu-nav-item a {
    color: white;
    text-decoration: none;
}

.footer-social-media {
    margin-bottom: 35px;
}

.footer-social-media i {
    font-size: 30px;
    margin: 0 12px 0 0;
}

.footer-copyright-all-rights-reserved {
    font-size: 14px;
}

@media all and (max-width: 1100px) {
    footer {
        flex-wrap: wrap;
    }
}
