body {
    margin: 0;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-family: Georgia, serif;
}

.page-header {
    padding-left: 120px;
}

.page-header-title {
    color: #292929;
    font-weight: bold;
    font-size: 78px;
    line-height: 50px;
}

.page-header-subtitle {
    color: gray;
    font-weight: lighter;
    font-size: 27px;
    line-height: 5px;
}

main {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: space-between;
    border-bottom: 1px grey;
}

.get-started {
    width: 35%;
}

.get-started a {
    text-decoration: none;
}

.get-started-btn {
    padding: 20px 100px;
    color: white;
    background-color: #03A87C;
    position: absolute;
    top: 56%;
    left: 7%;
    font-size: 26px;
    font-weight: bold;
    border-radius: 6px;
}

.page-content {
    width: 60%;
    padding: 27px 123px;
}

.page-content-title {
    font-size: 23px;
    line-height: 16px;
    padding-left: 20px;
}

.page-content-text {
    color: gray;
    text-decoration: none;
    font-size: 28px;
    line-height: 35px;
    padding: 0px 22px;
}

.page-content-text-colored {
    text-decoration: none;
    background-color: #CEFDE9;
    display: inline;
}

.div-line {
    border-bottom: 1px solid black;
    width: 30%;
}
